{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container">

  <!-- Looping through news   -->
  {% for Images_item in images %}

  <div class="row" >

    <div class="col-md-2" >
      <h2 class="text-center"> {{ Images_item.title }} </h2>
    </div>
    <!--Display  images  -->
    <div class="col-md-2">
      <img src="{{Images_item.Images.url}}" class="img-responsive" alt="Image">

    </div>

    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Image Items</h2>
    </div>
    {% endfor %}

  </div>


  {% endblock %}
