{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="row">

  <!-- Looping through images   -->
  {% for Images_item in images %}
    <!--Display  images  -->
    <div class="col-md-4" style="">
    <img style=" margin-top: 20px; margin-bottom: 20px; width:400px; height:400px;" src="{{Images_item.image.url}}" class="img-rounded" alt="Image" data-toggle="modal" data-target="#{{images.id}}">

    <div class="modal fade bd-example-modal-lg" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="imageTitle" aria-hidden="true">
        <div style="max-width:70%; max-height:50%; padding-top:100px;" class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="imageTitle">{{Images_item.image_name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{Images_item.image.url}}" class="img-fluid" alt="Image">
              <br>
              {{Images_item.image_description}}
              {{Images_item.image.url}}
            </div>
            <div class="modal-footer">
              <input class="form-control input-lg" type="text"  value="https:{{Images_item.image.url}}" id="{{image}}-url" >
               <button class="btn btn-outline-info" onclick="copyUrl('{{image.id}}-url')">Copy Image Url</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script type="text/javascript">
      function copyUrl(element){
        var myVar = document.getElementById(element)
        myVar.select();
        document.execCommand('copy')
      }
    </script>
    {% empty %}
       <h3 class="text-center">There are no images</h3>
       {% endfor%}
    </div>
  </div>
  {% endblock %}
